*{
  font-family: 'Gowun Batang', serif;
}
body {
  background-image: url('https://img.freepik.com/free-vector/luxury-old-library-interior-night-dark-empty-room-reading-with-books-wooden-shelves_107791-3025.jpg?size=626&ext=jpg&ga=GA1.2.2042533943.1627603200');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Give anything a border (class)*/
.border {
  border: 5px solid #B14AED;
}

/*Made the div display in a row instead of in a column*/
.container{
  display:flex;
  justify-content:center;
  align-items:center;
}

/*Ingredients style*/
#ingreds{
  max-width:400px;
  height:550px;
  margin:20px;
  padding:none;
  background-color:#ff4d4d;
  text-align:center;
}


/* Below from https://www.w3schools.com/howto/howto_css_image_text.asp */
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/*grid design*/
.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

/*updated eye of newt*/
#item_urg{
  width:500px;
}

/*style for ambrose*/
.ambrose{
  width:130px;
  position: fixed;
  bottom:8;
  right:0;
}

/*witch on the second page*/
#witch{
  position: fixed;
  left:0;
  bottom:0;
}

#taken{
  width:600px;
}

a:link,a:visited{
  text-decoration: none;
  color:white;
}

#bkrd2{
  background-image: url('https://img.freepik.com/free-vector/luxury-old-library-interior-night-dark-empty-room-reading-with-books-wooden-shelves_107791-3025.jpg?size=626&ext=jpg&ga=GA1.2.2042533943.1627603200');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

dialog{
  width:600px;
}
