*{
  font-family: 'Gowun Batang', serif;
}
body {
    background-color: #F7996E;
    color:#2F242C;
}

/*Give anything a border (class)*/
.border {
    border: 5px solid #B14AED;
}

/*Made the div display in a row instead of in a column*/
.container{
    display:flex;
    justify-content:center;
    align-items:center;
}

/*Ingredients style*/
#ingreds{
  width:600px;
  height:550px;
  background-color:#B14AED;
  text-align:center;
}


/* Below from https://www.w3schools.com/howto/howto_css_image_text.asp */
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/*grid design*/
.grid{
  display:flex;
  justify-content:center;
  align-items:center;
}

/*stupid ass eye of newt*/
#item_urg{
  width:500px;
}

/*style for ambrose*/
.ambrose{
  width:130px;
  position: fixed;
  bottom:8;
  right:0;
}

/*witch on the second page*/
#witch{
  position: fixed;
  left:0;
  bottom:0;
}

#taken{
  width:600px;
}
