*{
  font-family: 'Gowun Batang', serif;
}
body {
    background-color: #F7996E;
    color:#2F242C;
}

/*Give anything a border (class)*/
.border {
    border: 5px solid #B14AED;
}

/*Made the div display in a row instead of in a column*/
.container{
    display:flex;
    justify-content:center;
    align-items:center;
}

/*Ingredients style*/
#ingreds{
  width:600px;
  height:550px;
  background-color:#B14AED;
  text-align:center;
}
